<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>
<th:block layout:fragment="content">
<style>
    .remittanceError{
        color: red;
    }
</style>

<script th:inline="javascript">
    $(document).on("change", "#transCountry", function (e){
        e.stopPropagation();
        if($(this).val()){
            let obj = new Object();
            obj = selectedValues(obj);
            let result = apiCon("post", "/currencyRate", obj)
            $("#rate").val(result.rate);
            let text = " "+result.transCountry + "/"+ result.benchCountry;
            $(".rateText").text(text);
            $("#receptionPrice").val("");
            $(".remittanceText").text(result.transCountry);
        }
    });

    $(document).on("click", "#remittance", function (e){
        e.stopPropagation();
        let obj = new Object();
        obj = selectedValues(obj);
        obj = inputValues(obj);
        let result = apiCon("post", "/remittance", obj)
        if(!result.hasOwnProperty("responseText")){
            $("#receptionPrice").val(result.receptionPrice);
            $(".remittanceError").text("");
        }else{
            let error = result.responseText;
            $(".remittanceError").text(error.message);
        }
    })

</script>

<h1>환율 계산</h1>

    <div>
        <label for="benchCountry">송금국가:</label>
        <select name="benchCountry" id="benchCountry" readonly>
            <option value="USD">미국(USD)</option>
        </select>
    </div>
    <div>
        <label for="transCountry" >수취국가:</label>
        <select name="transCountry" id="transCountry">
            <option value="">선택</option>
            <option th:each="country: ${countries}"
                    th:value="${country.currencyName}"
                    th:text="${country.countryCurrencyName}"
            />
        </select>
    </div>
    <div>
        <label for="rate">환율:</label>
        <input name="rate" id="rate" type="text" readonly>
        <span class="rateText"></span>
    </div>
    <div>
        <label for="remittancePrice">송금액:</label>
        <input type="number" name="remittancePrice" id="remittancePrice" placeholder="송금액을 입력하세요">
        <span>USD</span>
        <div class="remittanceError"></div>
    </div>
    <button type="button" id="remittance" name="remittance">Submit</button>

    <div>
        <label for="remittancePrice">수취금:</label>
        <input type="text" name="receptionPrice" id="receptionPrice" readonly>
        <span class="remittanceText"></span>
    </div>



</th:block>
</html>