<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>환율 계산</h1>
<form role="form" action="/remittance" method="post">
    <div>
        <label th:for="benchCountry">송금국가:</label>
        <input type="text" name="benchCountry" id="benchCountry" value="미국(USD)" disabled="disabled">
    </div>
    <div>
        <label >수취국가:</label>
        <select name="currencyName" id="currencyName">
            <option th:each="country: ${countries}"
                    th:value="${country.currencyName}"
                    th:text="${country.countryCurrencyName}"
            />
        </select>
    </div>
    <div>
        <label th:for="currencyRate">환율:</label>
        <input type="text" disabled="disabled">
    </div>
    <div>
        <label th:for="receptionPrice">송금액:</label>
        <input type="text" name="receptionPrice" id="receptionPrice" placeholder="송금액을 입력하세요">
    </div>
    <button type="submit" >Submit</button>
</form>
</body>
</html>